[submodule "account-service"]
	path = account-service
	url = https://github.com/s63d/er-account-service.git
[submodule "vehicle-service"]
	path = vehicle-service
	url = https://github.com/s63d/er-vehicle-service.git
[submodule "trip-service"]
	path = trip-service
	url = https://github.com/s63d/er-trip-service.git
[submodule "trip-consumer"]
	path = trip-consumer
	url = https://github.com/s63d/er-trip-consumer.git
